package web

templ Page() {
	<html>
		{ children... }
	</html>
}

templ Head(title string) {
	<head>
		<title>{ title }</title>
		<link rel="stylesheet" href="/static/style.css"/>
		<meta name="viewport" content="width=device-width,initial-scale=1"/>
		<link rel="icon" type="image/png" href="/static/favicon.png"/>
		<script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
		<script src="https://unpkg.com/htmx-ext-preload@2.1.1" integrity="sha384-fkzubQiTB69M7XTToqW6tplvxAOJkqPl5JmLAbumV2EacmuJb8xEP9KnJafk/rg8" crossorigin="anonymous"></script>
		<link rel="preconnect" href="https://fonts.googleapis.com"/>
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
		<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet"/>
		{ children... }
	</head>
}

templ Body() {
	<body hx-ext="preload">
		{ children... }
		<script src="/static/chips.js"></script>
	</body>
}
